---
import { app } from "@/firebase/server";
import DashboardProvaider from "@/layout/Layout.astro";
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app);

/* Verificar la sesión actual */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/auth/login");
}
const sessionCookie = Astro.cookies.get("__session");
if (!sessionCookie) {
  return Astro.redirect("/auth/login");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie.value);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/auth/login");
}


---

<DashboardProvaider
  title_page="Inicio"
  description_page=""
  last_update="2024-05-02"
  keywords_page={[""]}
>

  <h1>Bienvenido {user.email}</h1>
  <p>Nos alegra verte aquí</p>
  <form action="/api/signout">
    <button type="submit">Cerrar sesión</button>
  </form>

</DashboardProvaider>