---
import { app } from "@/firebase/server";
import DashboardProvaider from "@/layout/Layout.astro";
import { getAuth } from "firebase-admin/auth"

const auth = getAuth(app);

try {
  if (!Astro.cookies.has("__session")) {
    return Astro.redirect("/auth/login");
  }
  
  const sessionCookie = Astro.cookies.get("__session");
  if (!sessionCookie) {
    return Astro.redirect("/auth/login");
  }

  const decodedCookie = await auth.verifySessionCookie(sessionCookie.value);
  const user = await auth.getUser(decodedCookie.uid);

  if (!user) {
    return Astro.redirect("/auth/login");
  }

  return Astro.redirect("/auth/true/dashboard");

} catch (error) {
  console.error('Error verifying session or fetching user:', error);
  return Astro.redirect("/auth/login");
}


---

<DashboardProvaider
  title_page="Inicio"
  description_page=""
  last_update="2024-05-02"
  keywords_page={[""]}
>

  <!-- <h1>Bienvenido {user.email}</h1> -->
  <p>Nos alegra verte aquí</p>
  <form action="/api/signout">
    <button class="border py-1 px-2 rounded-lg bg-black text-white" type="submit">Cerrar sesión</button>
  </form>

</DashboardProvaider>