---
// Vercel

// SEO Component
import SEO_Tags from "@/components/SEO_Tags.astro";
// Astro Animations
import { ViewTransitions } from "astro:transitions";
// Fonts
import '@fontsource-variable/montserrat';
import '../../public/fonts/sequel-100-black-sans-serif-font-1718353222-0/Sequel100Black-116.ttf';

interface Props {
  title_page: string;
  description_page: string;
  last_update: string;
  keywords_page: string[];
}

const { title_page, description_page, keywords_page, last_update } =
  Astro.props;

---

<!DOCTYPE html>
<html lang="es-MX" class="h-full antialiased scroll-smooth">
  <head>
    <ViewTransitions />
    <SEO_Tags
      title_page={title_page}
      description_page={description_page}
      last_update={last_update}
      keywords_page={keywords_page}
    />
  </head>
  <!-- Content -->
  <body class="body">
    <!-- SLOT -->
    <slot />
    <!-- SLOT -->
    <style is:global>
      html {
        overflow-x: hidden;
        color-scheme: light;
        font-family: 'Montserrat', sans-serif;
      }

      h2, h1, h3, h4, h5, h6 {
        font-family: 'Sequel100Black-116', sans-serif;
        font-weight: 800;
      }

      img {
        content-visibility: auto;
        image-rendering: optimizeSpeed;
      }

      body::-webkit-scrollbar,
      &::-moz-scrollbar,
      &::-ms-scrollbar,
      &::-o-scrollbar {
        overflow: hidden;
        -ms-overflow-style: none;
        display: none;
      }
    </style>
  </body>
</html>
